body{
    background-image: url("../img/bbase_3ds.png") ;
    background-repeat: no-repeat;
    /*background-position: left top;*/
    width: 1280px;
    /*height: 720px;*/
}

.game{
    top: 520px !important;
}