html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.gia1{
    background-image:url("../img/gia1.png");
    width:200px;
    height: 200px;
    margin-left:300px;
    animation: rotate-anime 60s linear infinite;
    animation-timing-function:ease;

}

.gia2{
    background-image:url("../img/gia2.png");
    width:133px;
    height: 133px;
    margin-left:350px;
    animation: rotate-anime2 50s linear infinite;
    animation-timing-function:ease;
}
.gia3{
    background-image:url("../img/gia3.png");
    width:214px;
    height: 215px;
    margin-left:1050px;
    margin-top:120px;
    animation: r-turn 60s linear infinite alternate;
    animation-timing-function:ease;
}
.gia4{
    background-image:url("../img/gia4.png");
    width:218px;
    height: 219px;
    margin-top: -200px;
    margin-left:300px;
    animation: rotate-anime2 100s linear infinite;
    animation-timing-function:ease;
}

@keyframes rotate-anime {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(360deg);}
  }

@keyframes rotate-anime2 {
    0%  {transform: rotate(0deg);}
    100%  {transform: rotate(-360deg);}
  }

  @keyframes r-turn {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.main{
    height:631px;
    width:1280px;
    display: inline;
}

.runInfo{
    margin-left:9px;
}

.screenCol{
    position: fixed;
    top:20px;
}

.infoCol{
    display:table;
    margin-top:230px;
}

.nextGame{
    height:89px;
}

.game{
    width: 490px;
    height: 100px;
    top: 10px;
    left: 400px;
    position: absolute;
    color: #FDF7DE;
}


.runner{
    background-image: url("../img/runner.png");
    width: 312px;
    height: 71px;
    margin-top:10px;
    position: relative;

}
#commentator{
    background-image: url("../img/commentator.png");
    width: 312px;
    height: 71px;
    margin-top:10px;
    position: relative;
}
#commentator2{
    background-image: url("../img/commentator.png");
    width: 312px;
    height: 71px;
    margin-top:10px;
    position: relative;
}

.freeSpace{
    margin: 10px 6px;    
    height: 130px;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.52) 1%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,1) 29%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0.5) 99%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.52) 1%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,1) 29%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0.5) 99%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#title{
    margin: 0 auto;
    overflow-wrap: break-word;
    padding: 5px;
    font-weight: bold;
    white-space: pre;
    font-size:140%;
    height: 30px;
}
.cateTime{
    display: inline-flex;
    margin-top: 15px;
}
.category{
    height: 30px;
    width: 300px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: larger;
}

.est{
    height: 30px;
    padding: 2px 15px;
    font-weight: bold;
    font-size: larger;
}
.info{
    display: inline-flex;
    margin-left: 63px;
    font-size: larger;
    font-weight: bold;
}

.twitch{
    margin-top: 5px;
    margin-right:10px;
    width:29px;
    height: 29px;
    background-image: url("../img/tw.png");
    background-repeat: no-repeat;
}

.youtube{
    margin-top: 5px;
    margin-right:10px;
    width:28px;
    height: 20px;
    background-image: url("../img/yt.png");
    background-repeat: no-repeat;
}

.nico{
    margin-top: 5px;
    margin-right:10px;
    width:29px;
    height: 31px;
    background-image: url("../img/nc.png");
    background-repeat: no-repeat;
}

.nn{
    margin-left:63px;
    font-size: x-large;
    font-weight: bold;
}

.nextGame{
    left:20px;
    top:625px;
    color: #42210B;
    position: fixed;
    font-size:18px;
    font-weight: bolder;
    display: inline-flex;
}
.nextGameInfo {
    width: 310px;
}